.myPage {
  &__title {
    font-size: 1.8rem;
  }

  &__heading {
    font-size: 1.4rem;
  }

  &__input {
    border-bottom: 1px solid #b4b4b4;
    color: #4b4b4b;
  }

  &__button {
    color: #4b4b4b;
    &--edit {
      @extend .myPage__button;
      margin-left: 5px;
      padding: 1px 3px 2px 3px;
      border-radius: 2px;
      background-color: #e8e8e8;
    }
    &--nickname {
      @extend .myPage__button;
      position: relative;
      width: fit-content;
      padding-right: 20px;
      &::after {
        content: "";
        width: 15px;
        height: 15px;
        background-image: url("/img/icon_edit.png");
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }

  &__nickname {
    margin-top: 18px;
  }

  &__review {
    margin-top: 18px;
  }

  &__modal {
    width: calc(320 / 375 * 100%);
    max-width: 320px;
    height: 200px;
    border-radius: 15px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  &__text {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }

  &__button-container {
    display: flex;
    gap: 15px;
  }

  &__modal-button {
    width: 82px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f08300;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 5px;
    &--cancel {
      @extend .myPage__modal-button;
      background-color: #e8e8e8;
      color: #4b4b4b;
    }
  }
}
