.write-review {
  &__title {
    font-size: 1.8rem;
  }

  &__star-input {
    display: none;
  }

  &__star {
    cursor: pointer;
    display: block;
    &::after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("/img/icon_star.png");
      background-size: contain;
    }
    &--filled {
      &::after {
        content: "";
        background-image: url("/img/icon_filled-star.png");
      }
    }
  }

  &__form {
    margin-top: 20px;
  }

  &__button {
    display: block;
    margin: 15px auto 0;
  }
}
